body{
    background-color: rgb(241, 238, 234);
    background-image: url("background.jpg");
    background-attachment: fixed;
    background-position: right;
    background-repeat: no-repeat;
}
#asif{
    background-color: antiquewhite;
    width: 50%;
    height: 400px;
    border: 1px solid red;
    margin: auto;
    text-align: center;
}
 #asif2{
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     font-size: 40px;
 }
 #argho{
     background-color: black;
     color: white;
     font-size: 50px;
     font-family: 'Times New Roman', Times, serif;
     width: 50%;
     text-align: center;
     padding: 20px;
 }